@import "input/input.css";
@import "searchbar/searchbar.css";
@import "checkbox/checkbox.css";
@import "radio/radio.css";
@import "button-basic/button-basic.css";

.font-ubuntu_400-13-16{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #000000;
}

body{
    padding: 1rem;
}