.orders-table__header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 2.5rem;
    background: var(--color-style-blue);
    color: var(--color-style-white-blue);
    flex: 0 0 2.5rem;
}
.orders-table__header .orders-table__cell:hover{
    background: var(--color-style-shade-background);
}