.input__icon-button-incorrect{
    border: none;
    padding: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    display: none;
}

.input__icon-button-incorrect svg{
    stroke: #BAD8F5;
}

.input__icon-button-incorrect:hover svg{
    stroke: #75b3ef;
}