.input_disabled .input__area{
    background: #BAD8F5;
    border: 0.0625rem solid #459DF5;
}

.input_disabled .input__field-center{
    background: #BAD8F5;
}

.input_disabled .input__field-right{
    display: block !important;
}