.single-status{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 0;
    width: 10rem;
    background-color: var(--color-style-white);
    box-shadow: var(--dropdown-box-shadow);
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.single-status .button-text{
    justify-content: flex-start;
}

.single-status .button-text:active{
    color: #459DF5;
}