.input_incorrect{
    border: 0.0625rem solid #F53152;
    background: #FFFFFF;
}

.input_incorrect:after{
    content: "";
    background-image: url("../../icons/x-medium.svg");
    width: 1rem;
    height: 1rem;
}

