@import "_gap-5/drop-downs_gap-5.css";
@import "_padding-8-0/drop-downs_padding-8-0.css";
@import "_padding-16/drop-downs_padding-16.css";
@import "_inner-left-position/drop-downs_inner-left-position.css";

.drop-downs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 10rem;
    background: #fff;
    /* dropdown shadow (day) */
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1), 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.drop-downs .button:active .button__text{
    color: #459DF5;
}

.drop-downs .button:active .checkbox__area{
    background-color: #459DF5;
    border-color: #459DF5;
}