.input__field{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    gap: 0.25rem;
    height: 2rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid var(--color-style-blue);
    background-color: var(--color-style-white);
}