@import "__text/searchbar__text.css";
@import "_filled/searchbar_filled.css";
@import "__icon-search/searchbar__icon-search.css";
@import "__icon-button-filled/searchbar__icon-button-filled.css";

.searchbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    gap: 0.25rem;
    height: 2rem;
    width: 16rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid #459DF5;
    background: #FFFFFF;
    box-sizing: border-box;
}
