.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  gap: 0.25rem;
  height: 2rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--color-style-blue);
  background-color: var(--color-style-white);
  box-sizing: border-box;
}
.searchbar .button {
  display: none;
}
.searchbar__icon-search {
  width: 1rem;
  height: 1rem;
  stroke: var(--color-style-blue);
}
.searchbar__text {
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: var(--color-style-white);
  width: 100%;
  color: var(--color-style-black);
}
.searchbar__text::placeholder {
  color: var(--color-style-light-blue);
}
.searchbar_filled .button {
  display: inline;
  stroke: var(--color-style-light-blue);
}
