.searchbar__icon-button-filled{
    border: none;
    padding: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    display: none;
}

.searchbar__icon-button-filled svg{
    stroke: #BAD8F5;
    width: 1rem;
    height: 1rem;
}

.searchbar__icon-button-filled:hover svg{
    stroke: #75b3ef;
}